<!--
Left Nav + List + Detail
 -->
<dom-module id="layout-master">

    <link rel="import" type="css" href="style.css">

    <template>
        <iron-media-query query="(min-width: 1280px)" query-matches="{{isOnLargeScreen}}"></iron-media-query>
        <paper-drawer-panel id="layout-master-drawer-panel" responsive-width="1024px">

            <div class="nav" drawer>
                <!-- Nav Content -->
                <paper-toolbar>
                    <div class="title">{{appTitle}}</div>
                </paper-toolbar>
            </div>

            <paper-header-panel class="layout-main" main>
                <paper-drawer-panel drawer-toggle-attribute="paper-drawer-right" right-drawer force-narrow="true">
                    <div class="nav" drawer>
                        <!-- Right drawer Content -->
                    </div>
                    <div main>
                        <!-- Main Toolbar -->
                        <paper-toolbar>
                            <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                            <div class="title"><span hidden$="{{isOnLargeScreen}}">{{appTitle}}</span></div>
                            <paper-icon-button icon="communication:comment" paper-drawer-right></paper-icon-button>
                            <paper-icon-button icon="more-vert" paper-drawer-right></paper-icon-button>
                        </paper-toolbar>

                        <!--content area -->
                        <content></content>
                    </div>

                </paper-drawer-panel>

            </paper-header-panel>

        </paper-drawer-panel>

    </template>

    <script>
        Polymer({
            is: 'layout-master',

            properties : {
                appTitle : {
                    type: String,
                    value: 'App Title'
                }
            }
        });
    </script>

</dom-module>