<dom-module id="list-view">

    <template>
        <style>
            :host {
                display: block;
            }

            paper-scroll-header-panel {
                height: 100%;
            }

            paper-scroll-header-panel paper-toolbar {
                background-image: url('/vendor/raftalks/uix/images/modern_material.jpg');
                background-position:25% 75%;
                background-attachment: fixed;
            }

            paper-drawer-panel {
                top: auto !important;
            }

            .list-container {
                /*@apply(--layout-fit);*/
                min-height:1000px;
                height:auto;
            }

            .list-panel {
                --paper-scroll-header-container: {
                    border-right: 1px solid #ccc;
                };
            }

            .list-panel paper-toolbar .title {
                margin-left:0px;
            }


            .list-view-container {
                display: flex;
                flex-direction: column;
                padding: 8px;
            }

            paper-fab.bottom-right{
                position: fixed;
                bottom: 16px;
                right: 16px;
            }

            paper-progress {
                --paper-progress-active-color: #00e3ff;
            }

            .search-box {
                height:68px;

            }



            .list-item {
                @apply(--layout-horizontal);
                cursor: pointer;
                height: 80px;
                padding: 16px 22px;
                border-bottom: 1px solid #DDD;
            }

            .list-item:focus,
            .list-item.selected:focus {
                outline: 0;
                background-color: #ddd;
            }

            .list-item.selected {
                background-color: var(--google-grey-300);
                border-bottom: 1px solid #ccc;
            }

            .list-item .avatar {
                height: 40px;
                width: 40px;
                border-radius: 20px;
                box-sizing: border-box;
                background-color: #ddd;
            }

            .list-item .pad {
                @apply(--layout-flex);
                @apply(--layout-vertical);
                padding: 0 16px;
            }

            .list-item .primary {
                font-size: 16px;
            }
            .list-item .secondary {
                font-size: 14px;
            }
            .list-item .dim {
                color: gray;
            }

            .loadingIndicator {
                text-align: center;
                height: 40px;
            }

            .loadingIndicator paper-spinner {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }



        </style>

        <iron-media-query query="(min-width: 1024px)" query-matches="{{largeScreen}}"></iron-media-query>
        <iron-media-query query="(min-width: 1280px)" query-matches="{{largeDesktopScreen}}"></iron-media-query>

        <iron-ajax
                id="ajax"
                url="[[ ajaxUrl ]]"
                params='{{ ajaxParams }}'
                handle-as="json"
                on-response="_gotAjaxResponse"
                loading="{{ajaxLoadingInProgress}}"
                debounce-duration="300"></iron-ajax>

            <paper-drawer-panel right-drawer id="drawerLayout" responsive-width="1024px" drawer-toggle-attribute="list-toggle" selected="{{selectedPanel}}">

                    <paper-scroll-header-panel id="scrollheaderpanel" main class="list-panel" fixed="{{largeDesktopScreen}}" condenses condensed-header-height="64">

                        <paper-toolbar class="medium-tall">
                            <div hidden$="[[!title]]" class="middle title">[[ title ]] > {{items.length}} items</div>

                            <paper-icon-button icon="search" class="middle left"></paper-icon-button>
                            <paper-icon-button icon="refresh" class="middle right"></paper-icon-button>
                            <paper-icon-button icon="add" class="middle right" hidden$="{{! largeScreen}}">+</paper-icon-button>

                            <paper-progress class="middle fit" indeterminate hidden$="{{! ajaxLoadingInProgress}}"></paper-progress>
                        </paper-toolbar>

                        <iron-scroll-threshold  id="scrollThreshold" lower-triggered="{{triggered}}" on-lower-threshold="_loadMoreData" >
                            <iron-list id='list' class="list-container" items="{{items}}" as="item" selected-item="{{selectedItem}}" selection-enabled >
                                <template>
                                    <div tabindex$="[[tabIndex]]" aria-label$="Select/Deselect [[item.label]]" class$="[[_computedListItemClass(selected)]]" on-tap="_listTap">
                                        <img class="avatar" src="https://randomuser.me/api/portraits/thumb/men/10.jpg">
                                        <div class="pad">
                                            <div class="primary">
                                                [[item.name]]
                                            </div>
                                            <div class="secondary dim">[[item.email]]</div>
                                        </div>
                                    </div>
                                    <div class="border"></div>
                                </template>
                            </iron-list>

                            <div class="loadingIndicator">
                                <paper-spinner active="{{ajaxLoadingInProgress}}"></paper-spinner> Fetching data
                            </div>
                        </iron-scroll-threshold>

                        <paper-fab icon="add" class="bottom-right" elevation="1" hidden$="{{itemSelected === 'drawer'}}"></paper-fab>


                    </paper-scroll-header-panel>




                <paper-scroll-header-panel drawer fixed="{{largeDesktopScreen}}" condenses="1" condensed-header-height="64">
                    <paper-toolbar class="medium-tall">
                        <paper-icon-button icon="arrow-back" list-toggle hidden$="{{largeScreen}}"></paper-icon-button>
                    </paper-toolbar>
                    <div class="list-view-container">
                        <template is='dom-if' if="{{ itemSelected }}">
                            <h2>[[selectedItem.name]]</h2>
                        </template>
                        <template is='dom-if' if="{{ ! itemSelected }}">
                            <h2>No item selected</h2>
                        </template>
                    </div>
                </paper-scroll-header-panel>
            </paper-drawer-panel>

    </template>

    <script>

        Polymer({
            is: 'list-view',

            properties: {
                pageNumber: {
                    type: Number,
                    value: 1
                },
                title : String,
                largeScreen: {
                    type: Boolean,
                    value: false,
                    observer: 'onScreenSizeChange'

                },
                selectedItem: {
                    type: Object,
                    value: null,
                    observer: 'onSelectedItemChanged'
                },

                items : {
                    type: Array,
                    value: []
                },
                ajaxUrl: {
                    type: String,
                    value: "/"
                },
                ajaxParams: {
                    type: Object,
                    computed : 'computeAjaxParams(pageNumber)'
                }


            },


            ready: function()
            {
                this.itemSelected = false;
                console.log('ajax url:'+this.ajaxUrl);

                //bind paper-scroll-header-panel scroller property to iron-threshold and iron-list scrollTarget
                this.$.list.scrollTarget = this.$.scrollheaderpanel.scroller;
                this.$.scrollThreshold.scrollTarget = this.$.scrollheaderpanel.scroller;

                //load ajax
                this.$.ajax.generateRequest();
            },

            onScreenSizeChange : function(isLargeScreen)
            {

                var drawer = this.$.drawerLayout;

                if(isLargeScreen)
                {
                    drawer.setAttribute('drawer-width', '60%');
                }
                else
                {
                    drawer.setAttribute('drawer-width', '100%');
                }
            },

            onSelectedItemChanged : function(selectedItem)
            {
                if(selectedItem === null)
                {
                    this.itemSelected = false;
                }
                else {
                    this.itemSelected = true;
                }
            },


            computeAjaxParams: function(pageNum)
            {
                return {
                    page : pageNum
                };
            },

            _listTap : function() {

                this.$.drawerLayout.openDrawer();
            },

            _computedListItemClass : function(isSelected) {
                var classes = 'list-item';
                if (isSelected) {
                    classes += ' selected';
                }
                return classes;
            },

            _loadMoreData : function()
            {
                console.log('loading more data func called');

                this.pageNumber = this.pageNumber + 1;

                this.$.ajax.generateRequest();

            },

            _gotAjaxResponse : function(e)
            {
                console.log('gotAjaxResponse called');
                var xitems = e.detail.response;

                var scope = this;

                xitems.forEach(function(item) {
                    scope.$.list.push('items', item);
                });

                console.log('items', xitems);
                console.log('scope items', scope.items);
                console.log('this items', this.items);

                // Clear the lower threshold so we can load more data when the user scrolls down again.
                this.$.scrollThreshold.clearTriggers();
            }

        });
    </script>

</dom-module>