<dom-module id="list-view">

    <template>
        <style>
            :host {
                display: block;
            }

            paper-scroll-header-panel {
                height: 100%;
            }

            paper-scroll-header-panel paper-toolbar {
                background-image: url('/vendor/raftalks/uix/images/modern_material.jpg');
                background-position:25% 75%;
                background-attachment: fixed;
            }

            paper-drawer-panel {
                top: auto !important;
            }

            .list-container {
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
            }

            .list-panel {
                --paper-scroll-header-container: {
                    border-right: 1px solid #ccc;
                };
            }


            .list {
                padding: 0;
            }

            .list paper-item{
                height: 80px !important;
                border-bottom: 1px solid #dedede !important;
                background-color: #fafafa !important;
            }

            .list-view-container {
                background-color: #D2D2D2;
                box-shadow: inset 2px 2px 5px 1px rgba(0,0,0,0.2);
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 8px;
            }

            paper-button.custom {
                --paper-button-ink-color: var(--paper-pink-a200);
                /* These could also be individually defined for each of the
                  specific css classes, but we'll just do it once as an example */
                --paper-button-flat-keyboard-focus: {
                    background-color: var(--paper-pink-a200);
                    color: white !important;
                };
                --paper-button-raised-keyboard-focus: {
                    background-color: var(--paper-pink-a200) !important;
                    color: white !important;
                };
            }
            paper-button.custom:hover {
                background-color: var(--paper-indigo-100);
            }

            paper-button.red {
                background-color: var(--paper-red-500);
                color: white;
                --paper-button-raised-keyboard-focus: {
                    background-color: var(--paper-red-a200) !important;
                    color: white !important;
                };
            }

            paper-button.pink {
                color: var(--paper-pink-a200);
            }
            paper-button.indigo {
                background-color: var(--paper-indigo-500);
                color: white;
                --paper-button-raised-keyboard-focus: {
                    background-color: var(--paper-pink-a200) !important;
                    color: white !important;
                };
            }
            paper-button.green {
                background-color: var(--paper-green-500);
                color: white;
            }
            paper-button.green[active] {
                background-color: var(--paper-red-500);
            }
            paper-button.disabled {
                color: white;
            }

            paper-fab.bottom-right{
                position: absolute;
                bottom: 16px;
                right: 16px;
            }
        </style>
        <iron-media-query query="(min-width: 600px)" query-matches="{{largeScreen}}"></iron-media-query>


            <paper-drawer-panel right-drawer id="drawerLayout" responsive-width="600px" drawer-toggle-attribute="list-toggle">
                <div main class="list-container">
                    <paper-scroll-header-panel main class="list-panel">

                        <paper-toolbar class="medium-tall">
                            <div hidden$="[[!title]]" class="bottom title">[[ title ]]</div>
                        </paper-toolbar>

                        <paper-menu class="list" on-iron-activate="_listTap">
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                            <paper-item class="list-item"></paper-item>
                        </paper-menu>

                    </paper-scroll-header-panel>

                    <paper-fab icon="add" class="bottom-right" elevation="1"></paper-fab>
                </div>

                <paper-scroll-header-panel drawer>
                    <paper-toolbar class="medium-tall">
                        <paper-icon-button icon="arrow-back" list-toggle hidden$="{{largeScreen}}"></paper-icon-button>
                    </paper-toolbar>
                    <div class="list-view-container">
                        <paper-card heading="Card Title">
                            <div class="card-content">Some content</div>
                            <div class="card-actions">
                                <paper-button>Some action</paper-button>
                            </div>
                        </paper-card>
                    </div>
                </paper-scroll-header-panel>
            </paper-drawer-panel>


            <!--<paper-toolbar class="tall">-->

                <!--&lt;!&ndash; flex class forces span to fill space between icons &ndash;&gt;-->
                <!--<div hidden$="[[!title]]" class="middle title">[[ title ]]</div>-->



                <!--<content select="paper-tabs, [view-tabs]"></content>-->

            <!--</paper-toolbar>-->
            <!--<div class="content">-->
                <!--<content select="[main]"></content>-->
            <!--</div>-->

    </template>

    <script>
        Polymer({
            is: 'list-view',

            properties: {
                title : String,
                largeScreen: {
                    type: Boolean,
                    value: false,
                    observer: 'onScreenSizeChange'

                }
            },

            onScreenSizeChange : function(isLargeScreen)
            {

                var drawer = this.$.drawerLayout;

                if(isLargeScreen)
                {
                    drawer.setAttribute('drawer-width', '60%');
                }
                else
                {
                    drawer.setAttribute('drawer-width', '100%');
                }
            },

            _listTap : function() {
                this.$.drawerLayout.openDrawer();
            }

        });
    </script>

</dom-module>