:host {
    /*--paper-scroll-header-panel-full-header : {*/
        /*background-image: url('/vendor/raftalks/uix/images/modern_material.jpg');*/
    /*}*/
}

paper-scroll-header-panel {
    height: 100%;
}

paper-scroll-header-panel paper-toolbar {
    background-image: url('/vendor/raftalks/uix/images/modern_material.jpg');
    background-position:25% 75%;
    background-attachment: fixed;
}

.list-view.title {
    margin-left:0 !important;
}

:host ::content .content {
    margin: 16px;
}