:host {
    display: block;
}

.nav {
    border-right: 1px solid #ccc;
}


.list-panel {
    --paper-header-panel-standard-container: {
        border-right: 1px solid #ccc;
    };
}

.list {
    padding: 0;
}

.list paper-item {
    height: 80px;
    border-bottom: 1px solid #dedede;
}

.main-drawer-panel:not([narrow]) [list-toggle] {
    display: none;
}

.content {
    height: 3000px;
}